h1{
               text-align: center;
               margin-bottom: 20px;
               text-decoration: underline;
               
}

.inscription,.listappr{
               text-align: center;
               margin-bottom: 20px;
               text-decoration: underline;
               
}


/* .listappr{
               text-align: center;
               margin-bottom: 20px;
               
} */


.btn{
               width: 50%;
}

/* .btn-danger{
               width: 90%;
}  */

.btn-warning,.btn-danger{
               width: 100%;
} 