h1{
               text-align: center;
               margin-bottom: 20px;
               
}

.inscription{
               text-align: center;
               margin-bottom: 20px;
               
}


.listappr{
               text-align: center;
               margin-bottom: 20px;
               
}


.btn{
               width: 50%;
}

.btn-danger{
               width: 90%;
} 

.btn-warning{
               width: 100%;
} 